@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');/*google fonts választott fontok betöltése*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol {
    list-style:none;
}
html, body {
    scroll-behavior: smooth;
    color:#818181;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
.container {
     /*background: khaki;*/
     /*min-height:300px;*/
     margin: 0 auto;
    padding-left:15px;
    padding-right:15px;
 }
h1,h2,h3,h4 {
    color:#212529;
    font-family: 'Poppins', sans-serif;
}
.greyBG {
    background-color:#f7f7f7;
}/*a fix menu miatt a szekciókat felülről poaddingolni kell hogylátszódjanak a cimek ha a menüpontra kattintunk*/
main > section {
    padding-top:80px;
}
main + footer {
    text-align:center;
}
#to-top {
    position:fixed;
    width:80px;
    height:80px;
    background:#fff;
    bottom:15px;
    right:15px;
}

#hero {
    /*background: lime;*/
}
#hero > .container {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items: flex-start;
}
.btn {
    background: #ffb32f;
    color:#fff;
    text-decoration:none;
    display:inline-block;
    padding: 7px 14px;
    font-weight:bold;
    text-transform:uppercase;
    transition: background 750ms ease-in-out;
    margin: 15px 0;
}
.btn:hover {
    background: #1e283c;
}
/*Navigáció és fejléc*/
nav {
    position:absolute;
    width:100%;
    /*background: pink;*/
    border-bottom:1px solid rgba(255,255,255,0.5);
    padding:5px 0;
    box-shadow:0 0 7px rgba(0,0,0,.3);
}
ul.mainmenu > li:not(:last-of-type):not(:first-of-type) {
    display:none;
}
ul.mainmenu {
    position:relative;
}
#menuToggle {
    position:absolute;
    top:20px;
    right:0;
}
/**menü sticky állapot (ezt a classt kapcsolgatjuk js-el)**/
nav.sticky {
    background-color: #fff;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:10000;
}
nav.sticky .mainmenu > li > a,
nav.sticky .mainmenu > li
{
    color:#1e283c;
}
/**************/
.homepage > header {
    background: url('../images/header_bg.jpg') center no-repeat;
    background-size:cover;
    height:100%;
}
#hero {
    /*background: khaki;*/
    height: 100%;
    display:flex;
    justify-content: flex-start;
    align-items:center;
}
header {
    color:#fff;
}
.name {
    font-size:2em;
}
#hero h1 {
    color:#fff;
    font-size:3em;
}
#hero h1 >.anim {
    color:#ffb32f;
    text-transform: uppercase;
}
#hero p {
    max-width:500px;
}
/**menüpontok formázása**/
.mainmenu > li {
    /*padding:7px 0;*/
}
.mainmenu > li > a {
    text-transform: uppercase;
    color:#fff;
    text-decoration:none;
    margin:7px 10px;
    border-bottom:2px solid transparent;
    padding-bottom:5px;
    transition:all 0.3s ease-in-out;
    font-weight:700;
    display:inline-block;
    width:100%;
}
.mainmenu > li:nth-last-of-type(2) > a {
    margin-right:0;
}
ul.mainmenu > li:not(:last-of-type):not(:first-of-type) > a:hover {
    color:#ffb32f;
    border-color:#ffb32f;
}
/*about*/
/*képek ne lógjanak túl*/
img {
    max-width: 100%;
    object-fit:cover;
}
/*sectionTitle*/
.sectionTitle {
    text-align: center;
    position: relative;
    --borderSize: 2px;
    --boxWidth:80px;
    --borderColor:#f00;
}
.sectionTitle > .subtitle {
    color: #ffb32f;
    font-weight: bold;
}
/*.sectionTitle > .subtitle:before {
    content:'\2014';
    !*display:block;
    width: var(--boxWidth);
    height: 50px;
    background-color: lime;
    border:var(--borderSize) solid var(--borderColor);
    border-radius:5px;*!
    !*legyen középen*!
    !*margin:auto;
    position:absolute;
    left:calc((100% - (var(--boxWidth) + var(--borderSize)*2))/2);*!
}*/
.sectionTitle > .subtitle:after,
.sectionTitle > .subtitle:before {
    content:'\2014';
    margin:0 15px;
}
.sectionTitle > h2 {
    text-transform:uppercase;
    margin:10px auto;
}
.sectionTitle > h2 + p {
    max-width:600px;
    margin:0 auto 50px;
}
/*SERVICES*/
#services .box {
    /*border: 1px solid black;*/
    box-shadow:1px 1px 6px rgba(0,0,0,0.25);
}
#services > .flex-holder > .box {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    margin:15px;
    padding:0 15px 15px;
}
#services > .flex-holder > .box >  .head {
    border-bottom:1px solid #e1e1e1;
    align-self:stretch;
    margin:0 -15px 15px;
    text-align:right;
    /*padding:0 15px;*/
    font-size:2.5em;
    font-weight:bold;
    letter-spacing: -0.05em;
    /*a szám pozíciója miatt*/
    position:relative;
    height:1.2em;
    overflow:hidden;
}
/*services doboz fejléc*/
#services > .flex-holder > .box >  .head > span {
    position:absolute;
    right:15px;
    bottom:-.8em;
    transition:bottom 0.3s ease-in-out;
    color:#e1e1e1;
    font-family: 'Poppins', sans-serif;
}
#services > .flex-holder > .box:hover >  .head > span {
    bottom:-.3em;
}
/*services ikon*/
#services > .flex-holder > .box > .icon {
    padding:25px;
    background-color: #ffb32f;
    color:#fff;
    font-size:2.5em;
    margin:15px auto;
    transition:transform 0.3s ease-in-out 0.3s;
}
#services > .flex-holder > .box:hover > .icon {
    transform: scaleX(-1);
}
.personal-info {
    margin-top: 30px;
}

.personal-info > li {
    padding: 10px 0;
    border-bottom: #e1e1e1 solid 1px;
}

.personal-info > li:first-letter {
    text-transform: uppercase;
}

.personal-info > li > span {
    color: #1e283c;
}
/*skills*/

ul.skills > li,
ul.counters > li {
    display:flex;
    flex-flow:column nowrap;
    margin-bottom: 15px;
}
ul.skills .title {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    font-weight:600;
    color:#1e283c;
    padding:5px 0;
    text-transform:uppercase;
}
ul.skills .bar-holder {
    background-color: #757575;
}
ul.skills .bar-inner {
    height:15px;
    background-color:#ffb32f;
}
#skill footer {
    background: #000;
    margin-top:45px;
}
/**skills counters**/
#skill footer {
    padding: 25px 0;
}
.counters {
    color:#fff;
    font-size:20pt;
    font-weight:bold;
    text-align: center;
}
.counters > li {

}
.counters i {

}
.counters p {

}
.counters .number {
    margin: 30px auto 15px;
    color:#ffb32f;
}
/* ---- Portfolio ---- */
.galleryLinks {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 15px;
}

.galleryLinks :nth-child(n) {
    padding-right: 5px;
}

.galleryLinks span:after {
    content: " /"
}

.galleryLinks span:hover {
    cursor: pointer;
    color: #ffb32f;
}

.cbp-item img {
    width: 100%;
    object-fit: cover;
}

.cbp {
    position: relative;
    height: auto;
}

.cbp-item {
    position: relative;
}

/*CONTACT rész*/
.grid-holder {
    display:grid;
}
.contactForm > form {
    display:flex;
    flex-direction:column;
}
input, button , textarea {
    font-family: 'Open Sans',sans-serif;
    color:#818181;
    outline:none;
    border:none;
}
input, textarea {
    padding:10px 5px;
    border-bottom:1px solid #ccc;
    margin-bottom:15px;
    width:100%;
    transition: border-bottom-color 0.3s ease-in-out;
}
::placeholder {
    color:#ccc;
}
.contactForm input:focus,
.contactForm textarea:focus {
    border-bottom-color:#818181;
}
ul.info {
    padding: 15px 0;
}
ul.info li {
    margin: 15px 0;
}
.social a {
    color:#1e283c;
    margin-right: 15px;
}
.social a:hover {
    color:#777;
}
ul.info b {
    color:#1e283c;
    text-transform:capitalize;
    display:block;
    margin-bottom: 10px;
}

@media screen and (min-width:640px)/* and (max-width:1199px)*/{
    /*tablet*/
    .container {
        width:80%;
    }
    .flex-holder {
         display:flex;
     }
    .flex-1-1 {
        display:flex;
        flex-flow: row nowrap;
    }
    .flex-1-1 > .box {
        flex:1 1 50%;
    }
    .flex-3 {
        flex-flow:row nowrap;
        justify-content:space-between;
    }
    .flex-3 > li {
        flex:1 0 25%;
    }
    .grid-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .grid-1-1 {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
    }
    /*about*/
    #about .flex-holder > .box:first-of-type {
        flex:1 0 60%;
    }
    .personal-info {
        columns:2;/*2 oszlopra bontja a listát*/
        /*column-count: 2;*/
    }

    /*SERVICES*/
    #services > .flex-holder {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #services > .flex-holder > .box {
        flex-basis: 45%;
        margin: 15px auto;
    }
}

@media screen and (min-width:1200px){
    /*desktop*/

    .container {
        max-width: 1200px;
    }

    ul.mainmenu {
        display:flex;
        align-items:center;
    }
    ul.mainmenu > .logo {
        flex:1;
    }
    ul.mainmenu > li {
        display: block !important;
    }
    .mainmenu > li > a {
         display:inline;
     }
    #menuToggle {
        display: none !important;
    }
    /*SERVICES*/
    #services > .flex-holder > .box {
        flex-basis:30%;
    }
}